#notify-container {
	position: relative !important;

	margin: auto !important;

	left: auto !important;
	max-width: 90% !important;
}

p#notify.error {
	color: rgba(165,63,63,0);
	font-size: 0;
}

p#notify.error:after {
	content: "\a Sorry, this file format is not supported. This service supports the following file types:\a\a .ai .doc .docx .dxf .eps .gif .jpg .ods .odt .pages .pdf .png .ppt .pptx .ps .psd .rtf .svg .tiff .txt .xls .xlsx";

	color: white;
	font-size: 14px;
	line-height: 14px;
	white-space: pre-line;
}

