p#notify.error {
	color: rgba(165,63,63,0);
	font-size: 0;
}

p#notify.error:after {
	content: "\a Sorry, this file is not supported. All files must be less than 10MB in size. This service supports the following file types:\a\a .ai, .doc, .docx, .eps, .gif, .jpg, .ods, .odt, .pdf, .png, .ppt, .pptx, .ps, .psd, .rtf, .svg, .tiff, .txt, .xls, and .xlsx";

	color: white;
	font-size: 14px;
	line-height: 14px;
	white-space: pre-line;
}

