p#notify.error {
	transition-delay: 999999999s;

	display: inherit !important;

	font-size: 0;
}

p#notify.error:active {
	transition-delay: 0s;
	transition-duration: 0.1s;

	opacity: 0;
}

p#notify.error:before {
	content: "(Click to close.)";

	font-size: 10px;
}

p#notify.error:after {
	content: "\a Sorry, this file format is not supported. This service supports the following file types:\a .ai\a .doc\a .docx\a .dxf\a .eps\a .ods\a .odt\a .pages\a .pdf\a .ppt\a .pptx\a .ps\a .psd\a .rtf\a .svg\a .tiff\a .txt\a .xls\a .xlsx";

	font-size: 14px;
	line-height: 14px;
	white-space: pre-line;
}

